<app-login-modal></app-login-modal>



<!--<input type="text" [(ngModel)]="title" name="title" placeholder="Title..">-->
<!--<input type="submit" value="Add a Favorite" (click)="addFave(title)">-->

<div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div *ngIf="authService.user | async as user">
            <h3>Hi, {{getName()}}</h3>

            <hr style="background-color: gray; height: .2px">
            <ul>
            <li *ngFor="let stock of getUserStocks() | async" (click)="selectStock(stock.ticker)">
              <a style="cursor: pointer">{{ stock.name }}</a>
            </li>
            </ul>
          </div>
          <div class="col-md-2">

          </div>
          <div class="col-md-10">
            <app-stock-card></app-stock-card>
          </div>
        </div>
      </div>
    </div>
</div>
