<app-login-modal></app-login-modal>



<!--<input type="text" [(ngModel)]="title" name="title" placeholder="Title..">-->
<!--<input type="submit" value="Add a Favorite" (click)="addFave(title)">-->

<div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div *ngIf="authService.user | async as user">
            <h3>Hi, {{getName()}}</h3>
            <!--<p>UID: {{getID()}}</p>-->
            <!--<p>email: {{getEmail()}}</p>-->
            <!--<ul>-->
              <app-stock-list [companyList]="getUserStocks() | async"></app-stock-list>
            <!--<li *ngFor="let stock of getUserStocks() | async">-->
              <!--<a class="nav-link" routerLink="/stocks"><i class="fa d-inline fa-lg"></i> {{ stock.name }}</a>-->
                <!--&lt;!&ndash;<a style="text-decoration: none;color: black" routerLink="stocks">{{ stock.name }}</a>&ndash;&gt;-->
            <!--</li>-->
            <!--</ul>-->
          </div>

        </div>
      </div>
    </div>
</div>
