<!DOCTYPE html>
<html>
<app-login-modal></app-login-modal>

<head>
  <title>W3.CSS Template</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Raleway", sans-serif
    }

    body,
    html {
      height: 100%;
      line-height: 1.8;
    }
    /* Full height image header */

    .bgimg-1 {
      background-position: center;
      background-size: cover;
      background-image: url("../../assets/background.jpg");
      min-height: 100%;
    }

    .w3-bar .w3-button {
      padding: 16px;
    }
  </style>
</head>

<body>

<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left w3-text-white" style="padding:48px"><span style="font-size: 64px;"><b>Stocks Made Easy</b></span><span style="font-size: 64px;">&nbsp;</span>&nbsp;
    <br> <span class="w3-xxlarge w3-hide-large w3-hide-medium">Start something that matters</span>
    <br>
    <p><b>CAT is a stock market analysis application that brings data visualizations and information-gathering together in an easily-accessible and affordable program, making it perfect for new and experienced stock traders alike.</b></p>
    <br>
    <p>.
      <a class="w3-button w3-teal w3-padding-large w3-large w3-margin-top bg-light" href="about">Learn more and start today</a>
    </p>
  </div>
</header>
<!-- About Section -->
<div class="w3-container" style="padding:128px 16px" id="about">
  <h3 class="w3-center">Key Features</h3>
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-quarter"> <i class="fa fa-line-chart" style="font-size:72px"></i>
      <p class="w3-large">Live-Action Graphs</p>
      <p>Search for all of your favorite stocks and view live-action trend graphs.</p>
    </div>
    <div class="w3-quarter"> <i class="fa fa-book" style="font-size:72px"></i>
      <p class="w3-large">Glossary</p>
      <p>Search for all your favorite stock jargon.</p>
    </div>
    <div class="w3-quarter"> <i class="fa fa-graduation-cap" style="font-size:72px"></i>
      <p class="w3-large">Tutorial</p>
      <p>New to the stock market? We got your back with an easy-to-follow tutorial.</p>
    </div>
    <div class="w3-quarter"> <i class="fa fa-newspaper-o" style="font-size:72px"></i>
      <p class="w3-large">Newsfeed</p>
      <p>We read all those news articles for you and let you know what stocks are doing well or not doing so well.</p>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64">
  <a href="homepage" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
</footer>
</body>

</html>
