<app-login-modal></app-login-modal>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css">

<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center display-3" style="color: cadetblue">What is C.A.T?</h1>
        <br>
        <br>
        <p class="">
          <font size="5"> Captial Activity Tracker (C.A.T) is a web application designed to assist experienced and inexperienced stock traders alike in researching and determining which stocks investments are the right for them.
            <br>
            <br> Equipped with live transaction suggestions and in-depth newsfeed keyword tracking, C.A.T. seeks to assist traders in making more informed financial decisions than could be reliably accomplished alone.
            <br>
            <br> To get started, all you need is a Google email. Click the Sign In button in the navigation bar!
            <br>
            <br> Once properly logged into the C.A.T. application, traders can save their favorite stocks (accompanied by real-time activity graphs with adjustable time ranges) to a list on their profile page. With or without an account, users can view
            our available newsfeed and, with the help of the keyword manager attached to the page, evaluate articles by important key phrases (as determined by the user).</font>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="py-5 col-md-6">
        <div class="row">
          <div class="text-center col-4"><i class="d-block mx-auto fa fa-5x fa-newspaper-o"></i></div>
          <div class="col-8">
            <h5 class="mb-3" style="color: cadetblue">The Newsfeed and Keywords</h5>
            <p class="my-1">Article keyword searches make newsfeed research that much more intuitive</p>
          </div>
        </div>
      </div>
      <div class="py-5 col-md-6">
        <div class="row">
          <div class="text-center col-4"><i class="d-block mx-auto fa fa-5x fa-repeat"></i></div>
          <div class="col-8">
            <h5 class="mb-3" style="color: cadetblue"><b>Real Time Stock Analysis</b></h5>
            <p class="my-1">Keep up to date on the state of your investments with live updates on stock values</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="py-5 col-md-6">
        <div class="row">
          <div class="text-center col-4"><i class="d-block mx-auto fa fa-5x fa-eye"></i></div>
          <div class="col-8">
            <h5 class="mb-3" style="color: cadetblue">Your Own Personal Watch-List</h5>
            <p class="my-1">Save your favorite stocks on your private profile for easy access and review</p>
          </div>
        </div>
      </div>
      <div class="py-5 col-md-6">
        <div class="row">
          <div class="text-center col-4"><i class="d-block mx-auto fa fa-5x fa-area-chart"></i></div>
          <div class="col-8">
            <h5 class="mb-3" style="color: cadetblue"><b>Trend Analysis</b></h5>
            <p class="my-1">Set the time range of a stock's financial activity to get a clearer view of its trend</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center text-white py-5" style="background-color: cadetblue">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="display-4">We ♥ new friends</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <a href="https://www.facebook.com/" class="text-white" target="_blank"><i class="fa fa-fw fa-facebook fa-3x mx-3"></i></a>
        <a href="https://twitter.com/" class="text-white" target="_blank"><i class="fa fa-fw fa-twitter fa-3x mx-3"></i></a>
        <a href="https://plus.google.com/" class="text-white" target="_blank"><i class="fa fa-fw fa-3x fa-google-plus mx-3"></i></a>
        <a href="https://www.instagram.com/" class="text-white" target="_blank"><i class="fa fa-fw fa-instagram fa-3x mx-3"></i></a>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

