<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="row justify-content-end"> <small class="d-flex justify-content-end text-muted" style="margin-top: -10px;">Article Weight: + 15</small> </div>
        <p class="text-capitalize" style="font-size:16px;" contenteditable="true"><b>Judge rules coffee sold in California needs cancer warnings</b></p>
        <hr style="width: 100%; background-color: gray; height: .5px; margin-top:-10px;" class="">
        <p class="text-muted" style="margin-top: -10px;"> Companies such as Starbucks have failed to provide carcinogen warnings [...] </p>
        <p style="font-size: 13px; margin-top:15px; margin-bottom: -5px;" class="text-muted">CTV News - 3 days ago
          <br> </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="row justify-content-end"> <small class="d-flex justify-content-end text-muted" style="margin-top: -10px;">Article Weight: + 15</small> </div>
        <p class="text-capitalize" style="font-size:16px;" contenteditable="true"><b>Judge rules coffee sold in California needs cancer warnings</b></p>
        <hr style="width: 100%; background-color: gray; height: .5px; margin-top:-10px;" class="">
        <p class="text-muted" style="margin-top:-10px;"> Companies such as Starbucks have failed to provide carcinogen warnings [...] </p>
        <p style="font-size: 13px; margin-top:15px; margin-bottom: -5px;" class="text-muted">CTV News - 3 days ago
          <br> </p>
      </div>
    </div>
  </div>
</div>
