<app-login-modal></app-login-modal>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css">
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center display-4" style="color: cadetblue; margin-top: -15px;">New to Stocks? We Got Your Back</h1>
        <br>
        <p class="lead m-0" p="" style="font-size:20px">The Stock Market, or Stock Exchange, is an international marketplace where gratuitous amounts of money are continuously being traded. This marketplace markets rights to assets, or shares. A share is a piece of a company. The value of a share
          is connected to the value of the particular company that it comes from. If the value of a company increases, so, too, does the value of its shares. Companies can raise money by selling their shares to expand or improve upon themselves. Each
          company has a reputation; the better the reputation, the more people will be willing to buy shares in that company, as investing likely comes with less risk to the money invested. The poorer the reputation, the more difficult that company
          will find it to sell their shares as the money invested has the potential of being lost if the company’s value declines.
          <br>
          <br>Rumors and speculation rule the stock market. Even the slightest word of ill-performance regarding a company can cause its share prices to drop drastically (such as accusations that children’s toys from a certain company are made with lead
          paint). On the other hand, if people are excited about a company’s cause and/or their potential product and buy shares to encourage said growth, the company’s shares will increase in price, as well. This can often be observed with companies
          starting out on Kickstarter. Whether this hype actually amounts to anything concrete is another concept entirely. This is why the stock market is so fickle.&nbsp;
          <br>
          <br>There are more than just shares in the stock market, however, and some even reduce the risk involved in investing. Mutual funds and index funds, for example, are diversified groupings of many different stocks. These funds are professionally
          managed and aim to earn the shareholder as much money as possible through the group of stocks involved. However, with less risk often comes less opportunity for larger financial gains in shorter amounts of time.&nbsp;
          <br>
          <br>The most time consuming part of stock market trading, and often the most rewarding, involves investing in individual stocks. This usually requires the buyer to carefully evaluate the company they plan to invest in, including how the company
          is managed, what its earnings are, what the company’s future prospects look like, what rumors are being spread about it, how reputable the company is, and more.</p>

        <hr style="background-color: cadetblue;">

        <h1 class="text-center text-dark display-4 m-3" style="font-size:40px">Our Recommendations</h1>
        <ul class="">
          <li style="font-size:20px" class="p-1">If you plan to invest, invest in a few, if not a lot, of companies of different types (agriculture vs technology vs medical, etc.). The earnings you may receive from the success of some stocks may be enough to cancel out or overshadow the loss
            of others in the long run.</li>
          <li style="font-size:20px" class="p-1">Don’t invest any money that you cannot afford to lose. The Stock market can be unpredictable, and even the most reliable companies can sometimes take a nosedive. It’s unlikely that you’ll lose everything, but what money you invest can sometimes
            only be mostly, partly, or only scantly gained back.</li>
          <li style="font-size:20px"  class="p-1">Unless you are satisfied with the growth of the price of the stock from the time you first bought it, or unless it’s obvious that the company is suffering a financial disaster that it may not recover from, do not sell at the first sign that a stock’s price is falling.
            Stock prices fluctuate often. It may take a few days, weeks, or even months for the price to build back up to something you can make a profit out of, but the wait is worth it. If nothing else, at least try to break even when you sell. </li>
          <li style="font-size:20px" class="p-1">Take the time to research. The most helpful stock market trading application in the world can’t read between the lines of each and every article related to the company you’re interested in. Find out what you’re investing in and if it’s worth
            your time. </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="text-center text-white py-5" style="background-color: cadetblue">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="display-4">We ♥ new friends</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <a href="https://www.facebook.com/" class="text-white" target="_blank"><i class="fa fa-fw fa-facebook fa-3x mx-3"></i></a>
        <a href="https://twitter.com/" class="text-white" target="_blank"><i class="fa fa-fw fa-twitter fa-3x mx-3"></i></a>
        <a href="https://plus.google.com/" class="text-white" target="_blank"><i class="fa fa-fw fa-3x fa-google-plus mx-3"></i></a>
        <a href="https://www.instagram.com/" class="text-white" target="_blank"><i class="fa fa-fw fa-instagram fa-3x mx-3"></i></a>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
