<div id="id01" class="modal">

  <form class="modal-content animate" action="/action_page.php">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close">&times;</span>
      <img src="../../assets/anonymous.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <button type="button" class="button" (click)="loginGoogle()" >Login with Google</button>
      <!--<label>-->
        <!--<input type="checkbox" checked="checked" name="remember"> Remember me-->
      <!--</label>-->
    </div>

    <!--<div class="container" style="background-color:#f1f1f1">-->
      <!--<button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>-->
      <!--<span class="psw">Forgot <a href="#">password?</a></span>-->
    <!--</div>-->
  </form>
</div>

