<app-login-modal></app-login-modal>

<div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header"> News Articles
              <br>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <form class="form-inline">
                <div class="input-group">
                  <input type="email" class="form-control" placeholder="Search">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">Search</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-3">
                  <p class="lead">Sort By:
                 </p>
                </div>
                <div class="col-md-9">
                  <div class="btn-group">
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Lowest to Highest
                      <br> </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="tab-content mt-2">
              <div class="tab-pane fade show active" id="tabone" role="tabpanel">
                <div class="row">
                  <div class="col-md-3">
                    <div class="card"> <small>Article Weight: +15</small>
                      <img class="card-img-top" src="../../assets/apple-stocks.png" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Stock 1
                          <br> </h5>
                        <p class="card-text">Details for stock 1
                          <br> </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card">
                      <img class="card-img-top" src="../../assets/apple-stocks.png" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Stock 2
                          <br>
                        </h5>
                        <p class="card-text">Details for Stock 2</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card">
                      <img class="card-img-top" src="../../assets/apple-stocks.png" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Stock 3</h5>
                        <p class="card-text">Details for Stock 3</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card">
                      <img class="card-img-top" src="../../assets/apple-stocks.png" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Stock 4</h5>
                        <p class="card-text">Details for Stock 4</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tabtwo" role="tabpanel">
                <p class="">Tab pane two. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
              <div class="tab-pane fade" id="tabthree" role="tabpanel">
                <p class="">Tab pane three. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row"> </div>
    </div>
  </div>

<div class="text-center text-white py-5" style="background-color: cadetblue">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="display-4">We ♥ new friends</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <a href="https://www.facebook.com/" class="text-white" target="_blank"><i class="fa fa-fw fa-facebook fa-3x mx-3"></i></a>
        <a href="https://twitter.com/" class="text-white" target="_blank"><i class="fa fa-fw fa-twitter fa-3x mx-3"></i></a>
        <a href="https://plus.google.com/" class="text-white" target="_blank"><i class="fa fa-fw fa-3x fa-google-plus mx-3"></i></a>
        <a href="https://www.instagram.com/" class="text-white" target="_blank"><i class="fa fa-fw fa-instagram fa-3x mx-3"></i></a>
      </div>
    </div>
  </div>
</div>
