
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css" type="text/css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" type="text/css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<!-- AngularJS library -->
<script type="text/javascript" src="angular.min.js"></script>

<!-- FusionCharts library-->
<script type="text/javascript" src="C:\Users\Validation\Workspace\CAT\project\CAT\node_modules\fusioncharts\fusioncharts.js"></script>

<!-- Angular plugin -->
<script type="text/javascript" src="angular-fusioncharts.min.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js&quot;"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js&quot;"></script>
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <br> </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <h1 class="">APPLE INC (AAPL)
                      <br> </h1>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-4"></div>
                          <div class="col-md-8">
                            <div class="row">
                              <div class="col-md-4 centered-col">
                                <!--<a href="#" class="btn btn-outline-primary"><span class="fa fa-star-o"> {{ stockInformation.daily }}</span>-->
                                <a href="#" class="btn btn-outline-primary"><span class="fa fa-star-o"> Watchlist </span>
                                  <br> </a>
                              </div>
                              <div class="col-md-4 centered-col">
                                <a href="#" class="btn btn-outline-primary"><span class="fa fa-bell-o"> Alert</span> </a>
                              </div>
                              <div class="col-md-4 centered-col">
                                <a href="#" class="btn btn-outline-primary"><span class="fa fa-plus-square-o"> Add Note</span>
                                  <br> </a>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h6 class="text-muted">[AAPL] Information Technology | Very Large Cap
              ($757.28B) | Common Stock</h6>
            <div class="row">
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-6">
                        <h4 class="">167.16
                          <br> </h4>
                      </div>
                      <div class="col-sm-6">
                        <p class="lead">(USD)
                          <br> </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-8">
                        <h3 class="">-4.25 (-2.54%)
                          <br> </h3>
                      </div>
                      <div class="col-xs-2 col-md-4">
                        <p style="font-size: 12px;">10:43:12 AM EST BIT
                          <br> </p>
                      </div>
                    </div>
                  </div>
                </div>
                <hr style="width: 100%; color: dimgray; height: 1px; background-color:black;">
                <div class="tab-content mt-2">
                  <div class="tab-pane fade show active" id="tabone" role="tabpanel">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="dropdown">
                          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"><span class="fa fa-cogs"></span></button>
                          <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Graph Open</a>
                            <a href="#" class="dropdown-item">Graph Close</a>
                            <a href="#" class="dropdown-item">Graph High</a>
                            <a href="#" class="dropdown-item">Graph Low</a>
                            <a href="#" class="dropdown-item">Graph Volume</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4"></div>
                      <div class="col-md-4">
                        <div class="btn-group">
                          <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="float:right;">Daily</button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Daily</a>
                            <a class="dropdown-item" href="#">1 Minute</a>
                            <a class="dropdown-item" href="#">5 Minutes</a>
                            <a class="dropdown-item" href="#">15 Minutes</a>
                            <a class="dropdown-item" href="#">30 Minutes</a>
                            <a class="dropdown-item" href="#">45 Minutes</a>
                            <a class="dropdown-item" href="#">1 Hour</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Refresh</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12" *ngIf="stockInformation.dailyLoaded">
                        {{stockInformation.getDayData(0).timestamp}}
                        <app-linechart [stock]="stockInformation"></app-linechart>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <div class="card-header border"> News
                    <br> </div>
                </div>
                <div class="list-group">
                  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">US STOCKS - Wall st [...]
                        <br> </h5> <small>3 days ago</small> </div>
                    <p class="mb-1">The united states decided Apple is unamerican and are kicking them out.</p> <small>Article Weight: -12.5</small> </a>
                  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Apple declares Bankruptcy
                        <br> </h5> <small class="text-muted">3 days ago</small> </div>
                    <p class="mb-1">Just in that Apple has gone Bankrupt. They are liquidating all stores by 2020 [...]</p> <small class="text-muted">Article Weight: -49&nbsp;<br></small> </a>
                </div>
              </div>
            </div>
            <br>
            <table class="table table-striped table-bordered" id="example">
              <thead>
              <tr>
                <th>Code</th>
                <th>Timestamp</th>
                <th>Close Price</th>
                <th>Open Price</th>
                <th>High Price</th>
                <th>Low Price</th>
                <th>Volume</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let stock of stockInformation.daily">
                <td>{{stockInformation.getStockSymbol()}}</td>
                <td>{{stock.timestamp}}</td>
                <td>{{stock.close}}</td>
                <td>{{stock.open}}</td>
                <td>{{stock.high}}</td>
                <td>{{stock.low}}</td>
                <td>{{stock.volume}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script>
  $(document).on('click', '.dropdown-item', function(event) {
    event.preventDefault();
    $(this).toggleClass('dropdown-item-checked');
  });
  $(document).ready(function() {
    $('#example').DataTable();
  } );
</script>
