
<div class="row">
  <div class="col-md-12">
    <h5> <b>
      AMEX Exchange
    </b> </h5>
    <div class="list-group" *ngIf="getStockMarket().getAmexExchange()[0].stock.dailyLoaded">
      <app-stocklist-item *ngFor="let company of getStockMarket().getAmexExchange()" (click)="selectCompany(company)" [company]="company"></app-stocklist-item>
    </div>
    <br>
    <h5> <b>
      New York Stock Exchange
    </b> </h5>
    <div class="list-group" *ngIf="getStockMarket().getNyseExchange()[0].stock.dailyLoaded">
      <app-stocklist-item *ngFor="let company of getStockMarket().getNyseExchange()" (click)="selectCompany(company)" [company]="company"></app-stocklist-item>
    </div>
    <br>
    <h5> <b>
      NASDAQ Exchange
    </b> </h5>
    <div class="list-group" *ngIf="getStockMarket().getNasdaqExchange()[0].stock.dailyLoaded">
      <app-stocklist-item *ngFor="let company of getStockMarket().getNasdaqExchange()" (click)="selectCompany(company)" [company]="company"></app-stocklist-item>
    </div>
  </div>
</div>
